.filter-menu {
    font-family: lato-bold;
    
    width: 256px;
    height: 100vh;

    padding: 0;
    margin: 0;

    
    border-top: 1px lightgrey solid;
    border: none;
    background-color: #f6f8fc;
}

.filter-menu > * {
    display: flex;
    justify-content: space-between;

    height: 2.2em;

    font-size: 1em;
    cursor: pointer;
}

.filter-menu .div-container {
    padding: 0 0.75em 0 1.625em;
}

.filter-menu .div-content {
    width: 90%;
    padding: 0 .5em;
}

.filter-menu > *:hover {
    background-color: #eaebef;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.lables-menu {
    margin-top: 1.5em;
}