.mail-list li {
    font-size: 1em;
    display: inline-flex;
}

.mail-list .mail-li:hover {
    box-shadow: inset grey 0px -1px 1px 0px;
}

.mail-list button:hover {
    background-color: rgba(211, 211, 211, 0.515);
    border-radius: 50%;
}

.mail-list button {
    padding: .4em;
}

.mail-list input {
    cursor: pointer;
    padding: .2em;
}

.mail-list input:hover {
    background-color: rgba(211, 211, 211, 0.515);
    border-radius: 50%;
}

.mail-subject {
    justify-content: flex-start;
    flex-grow: 1;
}

.mail-subject .subject {
    padding-right: 3em;
}

.mail-actions > * {
    color: rgb(173, 173, 173);
    font-size: .9em;

    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}


.read {
    background-color: #f2f6fc;
}

.bold {
    font-family: lato-bold;
    background-color: white;
}