.mail-list {
    flex-grow: 1;

    padding: 0 .3em;
    margin: 0;

    border-top: 1px solid lightgray;
}

.mail-list > * {
    width: 100%;
    padding: .1em;
    font-size: .8em;

    border-bottom: 1px solid lightgray;
}

.mails-container {
    display: flex;
}

.mail-actions > * {
    color: rgb(173, 173, 173);
    font-size: .9em;

    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

/* ICONS */
.fa {
    font-family: fa;
}

.fa:hover {
    color: rgb(73, 73, 73);
    transition: 0.4s;
}

.fa.envelope::before {
    content: '\f2b6';
}

.fa.trash::before {
    content: '\f1f8';
}

.fa.forward::before {
    content: '\f1d8';
}

.fa.star {
    appearance: none;
}

.fa.star::before {
    content: '\f005';
    color: gold;
}