.mail-list {
    width: 100%;
    padding: 0 .3em;
    margin: 0;
    margin-top: 2em;
}

.mail-list > * {
    width: 100%;
    padding: .1em;
    font-size: .875em;

    border-bottom: 1px solid lightgray;
}

.inputs {
    min-width: 25%;
}

.nothing-to-show {
    width: 100%;
    padding: 0 .3em;
}


/* ICONS */
.fa {
    font-family: fa;
}

.fa:hover {
    color: rgb(73, 73, 73);
    transition: 0.2s;
}

.fa.envelope::before {
    content: '\f2b6';
}

.fa.trash::before {
    content: '\f1f8';
}

.fa.forward::before {
    content: '\f1d8';
}

.fa.star {
    appearance: none;
}

.fa.star::before {
    content: '\f005';
    color: gold;
}

.fa.inbox-icon::before {
    content: '\f01c';
    padding-right: 1.5em;
    font-size: 1em;
    height: 20px;
}

.fa.sent-icon::before {
    content: '\f1d8';
    padding-right: 1.5em;
    font-size: 1em;
    height: 20px;
}

.fa.draft-icon::before {
    content: '\f249';
    padding-right: 1.5em;
    font-size: 1em;
    height: 20px;
}

.fa.trash-icon::before {
    content: '\f2ed';
    padding-right: 1.5em;
    font-size: 1em;
    height: 20px;
}

.fa.lable-icon::before {
    content: '\f02c';
    padding-right: 1.5em;
    font-size: 1em;
    height: 20px;
}

.fa.pen-icon::before {
    content: '\f304';
}

.fa.search::before {
    content: '\f002';
}