.mail-list {
    width: 100%;
    padding: 0 .3em;
    margin: 0;
    margin-top: 2em;
}

.mail-list > * {
    width: 100%;
    padding: .1em;
    font-size: .875em;

    border-bottom: 1px solid lightgray;
}

.mail-subject {
    width: 60%;
}

.mails-container {
    display: flex;
}

.mail-actions > * {
    color: rgb(173, 173, 173);
    font-size: .9em;

    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.search-container {
    margin-left: .8em;
    background-color: #ffffff;
}

.search-input {
    display: flex;
    background-color: #eaf1fb;

    border-radius: 1em;
    width: 580px;
    min-width: 184px; 
}

.selected-line {
    color: rgb(190, 7, 7);
    background-color: #eaebef;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.nothing-to-show {
    width: 100%;
    padding: 0 .3em;
}



/* ICONS */
.fa {
    font-family: fa;
}

.fa:hover {
    color: rgb(73, 73, 73);
    transition: 0.2s;
}

.fa.envelope::before {
    content: '\f2b6';
}

.fa.trash::before {
    content: '\f1f8';
}

.fa.forward::before {
    content: '\f1d8';
}

.fa.star {
    appearance: none;
}

.fa.star::before {
    content: '\f005';
    color: gold;
}

.fa.inbox-icon::before {
    content: '\f01c';
    margin-right: .8em;
}

.fa.sent-icon::before {
    content: '\f1d8';
    margin-right: .8em;
}

.fa.draft-icon::before {
    content: '\f249';
    margin-right: .8em;
}

.fa.trash-icon::before {
    content: '\f2ed';
    margin-right: .8em;
}

.fa.lable-icon::before {
    content: '\f02c';
    margin-right: .8em;
}

.fa.pen-icon::before {
    content: '\f304';
    margin-right: 1em;
}
