.preview-btns {
    display: flex;
    opacity: 0;
}

.note-preview:hover .preview-btns {
    opacity: 1;
    transition: opacity .6s;
}

.preview-btns i {
    font-size: 1.3em;
}

.preview-btns button {
    background-color: transparent;
    border: none;
    border-radius: 200px;
    padding: .6em;
}

.preview-btns button:hover {
    background-color: var(--button-hover-color);
    border-radius: 50%;
}