.add-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    width: 400px;
    height: fit-content;
    font-size: 1.2em;
}

.add-note-container {
    margin-block-start: 2em;
}

.add-note input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
    letter-spacing: 0.5px;
}

.add-note form {
    padding-inline: 25px;
    width: 190px;
    gap: 10px;
}

.note-type-btns i {
    font-size: 1.5em;
}

.add-note button {
    background-color: transparent;
    border: none;
    border-radius: 200px;
    padding: .5em;
}

.add-note button:hover {
    background-color: var(--button-hover-color);
    border-radius: 50%;
}

.note-type-btns {
    margin: 7px;
}

.title-input {
    margin-block-start: 1px;
}

.imgUrl,
.youtubeUrl,
.todo-task {
    margin-block-end: 1px;
}

.add-todo {
    margin-inline-start: 0;
    padding: 1px;
}