.note-list:first-child {
    margin-block-start: 0;  
}

.note-list-container {
    margin-block-start: 1em;
}

.inner-container {
    columns: 3;
    margin-block-start: 2em;
}

.inner-container > * {
    break-inside: avoid;
}

.no-match{
    margin-block-start: 2em;
    font-size: 1.3em;
}