.search-container input {
    height: 3.428em;
    padding-left: 1em;
    
    border: none;
    border-radius: 3em;
}

.gmail-logo-container {
    width: 208px;
    height: 48px;
    padding: .5em 1.875em .5em .5em ;
    /* padding-right: 1.875em; */
}

.gmail-logo {
    object-fit: contain;
    width: 109px;
    height: 40px;
    margin-bottom: .25em;

    cursor: pointer;
}

.hamburger {
    height: 1.5em;
    width: 1.5em;

    margin: 0 .25em;
    padding: 0.75em;

    cursor: pointer;
}

.open-modal-btn-container {
    margin: 0.5em 0 1em;
    padding-left: 0.5em;
    height: 56px;
    width: 248px;

}

.open-modal-btn {
    padding: 0;
    padding-right: 2em;
    width: 142px;
    height: 56px;
    
    font-size: .88em;
    
    border: none;
    border-radius: 1em;
    background-color: #C2E7FF;
    transition: 0.2s;
}

.open-modal-btn:hover {
    box-shadow: 0px .2px 2px 0px grey;
}

.pen-container {
    width: 56px;
    height: 20px;
}
