.mail-details-container {
    display: flex;
    flex-direction: column;
    
    height: 80vh;
    width: 60vw;

    right: 50%;
    transform: translateX(40%) translateY(10%);

}

.mail-details-title {
    background-color: black;
    color: white;
    
    padding: 1em;
    
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.mail-details-content {
    padding: 1em;
    border: 1px grey solid;
}

.go-back-button {
    font-family: lato-bold;
    font-size: 1em;
    
    padding: .8em;
    width: 50px;
    
    border: none;
    border-radius: .5em;
    
    text-align: center;
    margin-bottom: 1em;
    
    color: white;
    background-color: #0b57d0;
}
