.search-container input {
    height: 3.428em;
    padding-left: 1em;
    
    border: none;
    border-radius: 3em;
    background-color: transparent;
}

.search-bar {
    background-color: #eaf1fb;
    
    width: 580px;
    min-width: 184px; 
    border-radius: 3em;
}

.search {
    margin-left: 1em;
    padding: .5em;
    border-radius: 3em;
}

.search:hover {
    cursor: pointer;
    
    background-color: rgba(219, 219, 219, 0.485);
}

.search-container {
    margin-left: .8em;
    background-color: #ffffff;
    height: 64px;
}

.search-input {
    display: flex;
    background-color: #eaf1fb;
    
    width: 580px;
    min-width: 184px; 
    border-radius: 1em;
}

.search-input:focus {
    outline: none;
}

.gmail-logo-container {
    width: 208px;
    height: 48px;
    padding: .5em 1.875em .5em .5em ;
    /* padding-right: 1.875em; */
}

.gmail-logo {
    object-fit: contain;
    width: 109px;
    height: 40px;
    margin-bottom: .25em;

    cursor: pointer;
}

.hamburger {
    height: 24px;
    width: 24px;

    margin: 0 .25em;
    padding: 0.75em;

    cursor: pointer;
}

.hamburger:hover {
    cursor: pointer;
    border-radius: 2em;
    background-color: rgba(219, 219, 219, 0.485);
}

.open-modal-btn-container {
    margin: 0.5em 0 1em;
    padding-left: 0.5em;
    height: 56px;
    width: 248px;

}

.open-modal-btn {
    padding: 0;
    padding-right: 2em;
    width: 142px;
    height: 56px;
    
    font-size: .88em;
    
    border: none;
    border-radius: 1em;
    background-color: #C2E7FF;
    transition: 0.2s;
}

.pen-container {
    width: 56px;
    height: 20px;
}
