body:not(.mail-details-container) {
    overflow-x: hidden;
  }

body {
    position: relative;
    font-family: lato-light;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img:not(.logo, .mail-logo, .keep-logo, .hamburger, .gmail-logo) {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

input {
    cursor: text;
}