.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.clean-list {
    list-style: none;
}

.grid {
    display: grid;
}

.pointer {
    cursor: pointer;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}