header {
    background: var(--main-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header img:not(.logo) {
    cursor: pointer;
    display: block;
    height: 30px;
}

.nav-bar {
    padding: 0 1em;
}

.logo {
    height: 100px;
    width: 130px;
}

nav a {
    padding: .6em;
}

nav a:hover {
    background-color: rgba(211, 211, 211, 0.378);
    border-radius: 50%;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}