header {
    background: var(--main-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header img:not(.logo) {
    cursor: pointer;
    display: block;
    height: 40px;
}

.nav-bar {
    padding: 0 1em;
}

.logo {
    height: 60px;
    padding: .3em;
}

nav a {
    padding: .8em;
}

nav a:hover {
    background-color: var(--button-hover-color);
    border-radius: 50%;
}