.user-msg {
    position: absolute;
    text-align: center;
    
    font-size: .7em;
    font-weight: 600;
    
    height: 1em;
    width: fit-content;
    top: 50%;
    right: 50%;

    color: white;
    padding: 1.1em 1em 1.5em;
    border-radius: 1em;
}

.user-msg.success {
    background-color: rgba(69, 69, 69, 0.943);
}

.user-msg.error {
    background-color: lightpink;
}

.user-msg button{
    display: none;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    float: right;
    margin: 1em;
}