.user-msg {
    background-color: var(--user-msg-color);
    color: white;
    padding: 1em;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.user-msg.success {
    background-color: var(--user-msg-color);
}

.user-msg.error {
    background-color: var(--user-msg-color);
}

.user-msg button{
    float: right;
    margin-inline: 1em;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
}